body {
  padding: 0;
  margin: 0;
background-color: #fad390;
}

ul li a:hover {
    color: black;
}

li:hover {
    background-color: #fad390;
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0 15%;
  height: 75px;
  background-color: darkred;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: white;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  display: block;
  padding: 1em;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}





.section {
    position: relative;
    top: 120px;
    height: auto;
	font-family: Arial;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.3;
    margin: 0 0 4em;
    text-align: center;
}

.project {
    display: block;
	width: 100%;
	text-decoration: none;
	margin: 1em 0;
    cursor: pointer;
    text-align: center;
}

figure {
	margin: 0;
	padding: 0;
    text-align: center;
}

.project figure img {
	width: 100%;
	display: block;
	object-fit: fill;
	height: 300px;
    text-align: center;
}

.project figcaption {
	padding: 1em;
	background: darkred;
	color: black;
    text-align: center;
}

.project h2 {
	color: white;
	margin: 0;
    text-align: center;
    height: auto;
}

@media screen and (min-width: 960px) {
	.wrapper {
		max-width: 960px;
		margin: 0 auto;
	}
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
}

	.project:nth-child(1) {
		grid-column: 1 / span 3;
	}
	.project {
		width: 100%;
		height: 300px;
		text-decoration: none;
		margin: 0;
	}
	.project figure {
		position: relative;
		overflow: hidden;
	}
	.project figure img {
		position: relative;
		z-index: 9;
		transition: transform 0.5s;
	}
	.project figure:hover img {
		transform: translateY(-95px);
	}
	.project figcaption {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 20px;
		height: 60px;
		width: 100%;
	}


